.prevStudentTable{
    min-width: 50%;
    max-width: 70%;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
}

.rndBtn{
    background-color: rgb(27, 113, 199);
    border-color: rgb(0, 83, 166);
}